/* Global Styles */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 80vmin;
}

/* JV Logo */
.jv-logo {
  height: 120px;
  transform: translateX(-15px);
  transform: translateY(-5px);
}

/* React Logo */
body {
  color: #5d5d5d;
  font-family: 'Work Sans', 'Helvetica', 'sans-serif';
}

.react-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 10s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
